
/* Create some space around text boxes so the label text isn't scrunched up next to it. */
input {
    margin: 5px;
}

/* The "0" means no margin above or below the canvas. The "auto" means set the left- and
right-side margins so that the canvas is centered. */
canvas {
    margin: 0 auto;
}


/* Same as above, but with ID "edge-list", and also creates a little margin so things aren't squished together. */
#building-list {
    text-align: center;
    font-size: 20px;
    margin: 5px;
}

/* This syntax means "any <button> elements inside something with ID "edge-list"" - the 2px is for above and
 below the button, the 5px is the left and right sides. This prevents the draw and clear buttons from being
 squished right next to each other. */
#building-list button {
    margin: 5px 10px;
}

#map-view {
    width: 400px;
    height : auto
}


/* Centers the "Connect the Dots!" text, which is in a <p> (paragraph) tag inside the <App /> component, and has an
ID of "app-title". Also makes the text bigger, bold, and adds some space around the title. */
#app-title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
}
